.bundle
db/*.sqlite3
log/*.log
tmp/**/*

# Rails "stuff"
config/database.yml
tmp
log
db/*.sqlite?
db/schema.rb
build

# Development environment"stuff"
*.tmproj
.rvmrc

# do not want capistrano "stuff" in the repository
Capfile
config/deploy*
