#output {
  color: white;
  background-color: black;
  font-family: "Lucida Console",Monaco,monospace;
  font-size: 0.9em;
  white-space: pre-line;
  padding: 15px;
  max-height: 500px;
  height: auto !important;
  margin-top:20px;
  margin-bottom:20px;
}

#info {
  padding: 20px;
  background-color: #eee;
  border: 1px solid #999;
}

#info.success {
  background-color: #bfb;
}

#info.failed {
  background-color: #fbb;
}

#info #name {
  font-size: 1.6em;
  font-weight: bold;
}

#info #log {
  margin-top: 15px;
  color: #555;
}

#info #details {
  margin-top: 15px;
  color: #999;
  font-size: 0.9em;
}
