#output {
  color: white;
  background-color: black;
  font-family: "Lucida Console",Monaco,monospace;
  font-size: 0.9em;
  white-space: pre-line;
  padding: 15px;
  max-height: 500px;
  height: auto !important;
  margin-top:20px;
  margin-bottom:20px;
}

#info {
  padding: 20px;
  background-color: #eee;
  border: 1px solid #999;
}

#info.success {
  background-color: #bfb;
}

#info.failed {
  background-color: #fbb;
}

#info #name {
  font-size: 1.6em;
  font-weight: bold;
}

#info #log {
  margin-top: 15px;
  color: #555;
}

#info #details {
  margin-top: 15px;
  color: #999;
  font-size: 0.9em;
}
#build-list {
  border-top:1px solid #eee;
}

#build-list li{
  border-bottom:1px solid #eee;
  padding:10px 0;
  height:20px;
  line-height:20px;
}
#build-list .status{
  margin:0 10px;
}
#build-list .status img{
  vertical-align:middle
}
#build-list .commit-link{ 
  font-family:monospace;
  font-size:10px;
  font-weight:normal;
}
#build-list .commit-link a{
  color:#333;
}
#build-list .commit-link a:hover {
  text-decoration:underline;
  background:none;
}
#build-list .build-time{
  float:right;
  font-size:12px;
  color:#aaa;
}
