body{
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  text-align: center;
  color: #333;
  background-color: #eee;
  font-family: "Trebuchet MS",Helvetica,sans-serif;
  font-size: 14px;
}

#page{
  width: 960px;
  margin: 50px auto;
  text-align: left;
  padding: 40px 0 80px;
  background-color: white;
  -moz-box-shadow: 2px 2px 5px #ccc;
  -webkit-box-shadow: 2px 2px 5px #ccc;
}

h1{
  color:#ddd;
  cursor:default;
  float:left;
  position:relative;
  left:-20px;
  top:3em;
  font-size:5em;
  margin:0 !important;
  z-index:-1;
  width:0;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
}

h2 {
  color:#2A4750;
  font-weight:bold;
  font-size:2em;
  border-bottom:1px solid #eee;
  margin-bottom:.5em;
  padding-bottom:.5em;
}

ol {
  list-style-type:decimal;
}
#page > *{
  margin-left:80px;
  margin-right:80px;
}
a {
  color: #a80b0b;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: #a80b0b;
}

a.button {
  display: block;
  margin: 5px 0;
  padding: 3px 0;
  text-align: center;
  background-color: #a80b0b;
  border: 1px solid #a80b0b;
  color: white;
}

a:hover.button {
  background-color: white;
  color: #a80b0b;
}
#menu{
  list-style-type:none;
  margin-bottom:30px;
}

#menu li{
  display:inline;
}

#menu li a{
  background:#eee;
  display:inline-block;
  padding:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
#menu li a:hover {
  background:#e0e0e0;
}
#projects {
  border-top: 1px solid #aaa;
  list-style: none;
  padding: 0;
}

#projects li {
  position: relative;
  border-bottom: 1px solid #aaa;
  padding: 1em;
  background-color: #effbff;
}

#projects li.new {
  background-color: #eee;
}

#projects li.failed, #projects li.clonefail {
  background-color: #fbb;
}

#projects li.success {
  background-color: #bfb;
}

#projects .name, #projects .name a {
  color: #2a4750;
  font-size: 2em;
  font-weight: bold;
}

#projects .name a {
  font-size: 1em;
}

#projects .name a:hover {
  background-color: #2a4750;
  color: white;
}

#projects .links {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #aaa;
  font-size: 1.1em;
}

#projects .status {
  color: #555;
  font-size: 0.8em;
  font-style: italic;
}

#projects .links a {
  font-size: 0.8em;
}
